.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    height:70px;
    background-color: white;
    border-bottom-style: solid;
    border-color:rgb(190, 184, 184);
    border-bottom-width: 1px;
     z-index:100;      /* so that thumbnail images do not appear on top of navbar. */

}
.left-section{
    height:55px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.middle-section{
    height:55px;
    margin-left: 10px;
    margin-right:20px;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    flex:1;
    align-items: center;

}
.right-section{
    width: 200px;
    height:55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;

}
.ham-size{
    margin-left:24px;
    margin-right:5px;
    height:30px;
    width:30px;
}
.logo-size{
    width: 100px;
    margin-left: 10px;
}
.searchbar{
    flex:1;
    margin-left: 10px;
    padding: 10px;
    font-size: 10px;
    height:20px;
    width: 100px;
    border-radius:5px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    outline: none;
    width:0;
   
}
.searchbar::placeholder{
    font-size: 16px;
    font-family: Roboto;
}

.ham-size{
    margin-left:24px;
    margin-right:5px;
    height:30px;
    width:30px;
}


.search-button, .voice-button,
.youtube-apps-icon-container,.upload-icon-container,
.notifications-count{
    margin-left: -1px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search-button .tooltip,
.voice-button .tooltip,
.youtube-apps-icon-container .tooltip, 
.upload-icon-container .tooltip,
.notifications-count .tooltip{
    background-color: rgba(21, 18, 18, 0.688);
    color: white;
    position: absolute;
    bottom:-30px;
    padding: 6px;
    padding-right: 8px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.7s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip, 
.youtube-apps-icon-container:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notifications-count:hover .tooltip
{
    opacity: 1;
}
.search-icon{
    height:17px;
    width:17px;
    padding: 10px;
    margin-left: -3px;
    border-color: rgba(0,0,0,0.05);

    border: none;
    
}
.voice-button{
    height:40px;
    width:40px;
    border-radius: 20px;
    margin-left: 5px;
    border: none;
    background-color:rgba(211, 211, 211,0.4);
   

}
.voice-search-icon{
    height: 20px;
    width: 20px;
   
}

.youtube-apps-icon{
    height: 30px;
    width:30px;
}
.upload-icon{
    height: 30px;
    width:30px;
}
.notifications-icon{
    height: 30px;
    width:30px;
}
.profile-picture-icon{
    height: 30px;
    width:30px;
    border-radius: 15px;
}
{
    position: relative;
}
.count{
    position: absolute;
    height:15px;
    width: 15px;
    border-radius: 7.5px;
    background-color: red;
    color: white;
    top:-1px;
    right: -2px;
    text-align: center;
    font-size: small;
}
